<div id="content" style="margin-bottom: 50px">
  <section class="library">
    <div class="container">
      <div class="section-title">
        <h3>الاستماع</h3>
        <p>اليك ايها الزائر بعض ادوات التكرار لتساعدك علي حفظك للقرآن الكريم</p>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">

          <form accept-charset="utf-8" action="" data-grid="main" data-search method="post" role="search">

                <input (click)="wasatClicked($event)" class="filled-in" id="filled-in-box2" name="remember"
                       type="checkbox" value="1">
                <label class="check" for="filled-in-box2">تكرار </label>

            <input (change)="numberRepeatClicked($event)"
                   type="text" [(ngModel)]="numberOfRepeated">
            <label class="check" for="filled-in-box2">تكرار عدد مرات </label>

            <audio *ngFor="let row of sorats; let i = index"  [id]="'surahPlayer'+i"  controls="controls" (play)="onPlay(i)" (ended)="audioEnded(i)">
              <source  id="activeAyah" src="{{row}}" title="1" type="audio/mp3">
            </audio>


          </form>

          <div class="row" style="margin-top: 100px"><span></span></div>
          <div class="col-md-12 col-sm-12 text-center">

<!--            <button (click)="saveSearch()" class="btn btn-default btn-block waves-effect waves-light" data-toggle="dropdown"-->
<!--                    type="submit">-->
<!--              حفظ الاعدادات-->
<!--            </button>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row-cols-6">
            <label class="check" for="filled-in-box2" style="float: right;margin-top: 5px">: الي سوره</label>
            <p-dropdown (onChange)="toSoraFun($event)"
                        [options]="soras"
                        [style]="{float:'right'}" class="sora"
                        optionLabel="اسم_السورة">
            </p-dropdown>
          </div>

          <div class="row-cols-6">
            <label class="check" for="filled-in-box2" style="float: right;margin-right: 10px;margin-top: 5px">: الي ايه</label>
            <p-dropdown (onChange)="toAyaFun($event)"
                        [options]="toSoraAyat"
                        [style]="{float:'right','margin-right': '5px'}" class="aya"
                        optionLabel="id">
            </p-dropdown>
          </div>
        </div>


        <div class="col-6">
          <div class="row-cols-6">
            <label for="filled-in-box2" style="float: right;margin-top: 5px">: من سوره</label>

            <p-dropdown (onChange)="fromSoraFun($event)"
                        [options]="soras"
                        [style]="{float:'right'}"
                        class="sora"
                        optionLabel="اسم_السورة"></p-dropdown>
          </div>

          <div class="row-cols-6">
            <label class="check" for="filled-in-box2" style="float: right;margin-right: 10px;margin-top: 5px">: من ايه</label>

            <p-dropdown (onChange)="fromAyaFun($event)"
                        [options]="fromSoraAyat"
                        [style]="{float:'right','margin-right': '5px'}"
                        class="aya"
                        optionLabel="id"></p-dropdown>
          </div>
        </div>


      </div>

      <div class="row">

        <div class="col-6">
          <label class="check" for="filled-in-box2" style="float: right;margin-top: 15px">: الي جزء</label>

          <p-dropdown (onChange)="toPartFun($event)"
                      [options]="parts"
                      [style]="{float:'right',margin:'10px',width:'200px'}" optionLabel="الجزء"></p-dropdown>
        </div>

        <div class="col-6">
          <label class="check" for="filled-in-box2" style="float: right;margin-top: 15px">: من جزء</label>

          <p-dropdown (onChange)="fromPartFun($event)" [options]="parts"
                      [style]="{float:'right',margin:'10px',width:'200px'}" optionLabel="الجزء"></p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label class="check" for="filled-in-box2" style="float: right;margin-top: 10px">: الي حزب</label>
          <p-dropdown (onChange)="toHezpFun($event)"
                      [options]="hezb"
                      [style]="{float:'right',margin:'0 5px 10px 10px',width:'200px'}"
                      optionLabel="nOFHezb"></p-dropdown>
        </div>

        <div class="col-6">
          <label class="check" for="filled-in-box2" style="float: right;margin-top: 10px">: من حزب</label>
          <p-dropdown (onChange)="fromHezpFun($event)"
                      [options]="hezb"
                      [style]="{float:'right',margin:'0 5px 10px 10px',width:'200px'}"
                      optionLabel="nOFHezb"></p-dropdown>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label class="check" for="filled-in-box2" style="float: right;margin-top: 10px">: الي ربع</label>
          <p-dropdown (onChange)="toRobFun($event)"
                      [options]="rob"
                      [style]="{float:'right',margin:'0 10px 10px 10px',width:'200px'}"
                      optionLabel="rub"></p-dropdown>
        </div>

        <div class="col-6">
          <label class="check" for="filled-in-box2" style="float: right;margin-top: 10px">: من ربع</label>
          <p-dropdown (onChange)="fromRobFun($event)"
                      [options]="rob"
                      [style]="{float:'right',margin:'0 10px 10px 10px',width:'200px'}"
                      optionLabel="rub"></p-dropdown>
        </div>


      </div>

      <div class="row">
        <div class="col-6">
          <label class="check" for="filled-in-box2" style="float: right;margin-top: 10px">: الي صفحه</label>

          <p-dropdown (onChange)="toPageFun($event)"
                      [options]="pages"
                      [style]="{float:'right',margin:'0 0 10px 10px',width:'200px'}"
                      optionLabel="nOFPage"></p-dropdown>
        </div>

        <div class="col-6">
          <label class="check" for="filled-in-box2" style="float: right;margin-top: 10px">: من صفحه</label>
          <p-dropdown (onChange)="fromPageFun($event)"
                      [options]="pages"
                      [style]="{float:'right',margin:'0 0 10px 10px',width:'200px'}"
                      optionLabel="nOFPage"></p-dropdown>
        </div>
      </div>

    </div>
  </section>
</div>

<body style="margin-top: 70px;background:url(/public/images/bg4.png); background-attachment: fixed; background-size: 100%; background position: center center;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <!--<div class="container">-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="navbar-brand font-kitab rtl" style="margin-right: 10px;" href="https://alquran.cloud">الْقُرْآن الْكَرِيْم</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class=""><a href="https://alquran.cloud">Home</a></li>
          <li class=""><a href="/read">Quran</a></li>
          <li class=""><a href="/juzs">Juz</a></li>
          <li class="active"><a href="/surahs">Surah</a></li>
          <li class=""><a href="/ayah">Ayah</a></li>
          <li class="dropdown ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">API <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="/api">API Documentation</a></li>
                  <li><a href="/cdn">Content Delivery Network</a></li>
                  <!--<li><a href="/api-clients">API Clients</a></li>-->
                  <li><a href="/tajweed-guide">Tajweed Guide</a></li>
                  <li><a href="/arabic-font-edition-tester">Font Edition Tester</a></li>
              </ul>
          </li>
          <li class=""><a href="/cdn">CDN</a></li>

        </ul>
          <form class="navbar-form pull-right" style="margin-right: 20px;" role="search" method="GET" action="/search">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search the Quran" name="keyword" id="search-term" value="">
                  <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
              </div>
          </form>

      </div>
    <!--</div>-->
</nav>

<div class="container">
<div class="lead font-kitab align-center style-ayah">
  بِسْمِ ٱللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ
</div>
<div class="page-header">
  <h4>
    Read the Quran by Juz
  </h4>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/1">
      <p class="lead">
        1. Al-Faatiha (The Opening)
        <br>
        7 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/1">
      <p class="lead">سُورَةُ ٱلْفَاتِحَةِ</p>
      ٧ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/2">
      <p class="lead">
        2. Al-Baqara (The Cow)
        <br>
        286 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/2">
      <p class="lead">سُورَةُ البَقَرَةِ</p>
      ٢٨٦ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/3">
      <p class="lead">
        3. Aal-i-Imraan (The Family of Imraan)
        <br>
        200 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/3">
      <p class="lead">سُورَةُ آلِ عِمۡرَانَ</p>
      ٢٠٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/4">
      <p class="lead">
        4. An-Nisaa (The Women)
        <br>
        176 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/4">
      <p class="lead">سُورَةُ النِّسَاءِ</p>
      ١٧٦ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/5">
      <p class="lead">
        5. Al-Maaida (The Table)
        <br>
        120 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/5">
      <p class="lead">سُورَةُ المَائـِدَةِ</p>
      ١٢٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/6">
      <p class="lead">
        6. Al-An'aam (The Cattle)
        <br>
        165 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/6">
      <p class="lead">سُورَةُ الأَنۡعَامِ</p>
      ١٦٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/7">
      <p class="lead">
        7. Al-A'raaf (The Heights)
        <br>
        206 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/7">
      <p class="lead">سُورَةُ الأَعۡرَافِ</p>
      ٢٠٦ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/8">
      <p class="lead">
        8. Al-Anfaal (The Spoils of War)
        <br>
        75 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/8">
      <p class="lead">سُورَةُ الأَنفَالِ</p>
      ٧٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/9">
      <p class="lead">
        9. At-Tawba (The Repentance)
        <br>
        129 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/9">
      <p class="lead">سُورَةُ التَّوۡبَةِ</p>
      ١٢٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/10">
      <p class="lead">
        10. Yunus (Jonas)
        <br>
        109 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/10">
      <p class="lead">سُورَةُ يُونُسَ</p>
      ١٠٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/11">
      <p class="lead">
        11. Hud (Hud)
        <br>
        123 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/11">
      <p class="lead">سُورَةُ هُودٍ</p>
      ١٢٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/12">
      <p class="lead">
        12. Yusuf (Joseph)
        <br>
        111 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/12">
      <p class="lead">سُورَةُ يُوسُفَ</p>
      ١١١ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/13">
      <p class="lead">
        13. Ar-Ra'd (The Thunder)
        <br>
        43 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/13">
      <p class="lead">سُورَةُ الرَّعۡدِ</p>
      ٤٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/14">
      <p class="lead">
        14. Ibrahim (Abraham)
        <br>
        52 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/14">
      <p class="lead">سُورَةُ إِبۡرَاهِيمَ</p>
      ٥٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/15">
      <p class="lead">
        15. Al-Hijr (The Rock)
        <br>
        99 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/15">
      <p class="lead">سُورَةُ الحِجۡرِ</p>
      ٩٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/16">
      <p class="lead">
        16. An-Nahl (The Bee)
        <br>
        128 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/16">
      <p class="lead">سُورَةُ النَّحۡلِ</p>
      ١٢٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/17">
      <p class="lead">
        17. Al-Israa (The Night Journey)
        <br>
        111 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/17">
      <p class="lead">سُورَةُ الإِسۡرَاءِ</p>
      ١١١ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/18">
      <p class="lead">
        18. Al-Kahf (The Cave)
        <br>
        110 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/18">
      <p class="lead">سُورَةُ الكَهۡفِ</p>
      ١١٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/19">
      <p class="lead">
        19. Maryam (Mary)
        <br>
        98 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/19">
      <p class="lead">سُورَةُ مَرۡيَمَ</p>
      ٩٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/20">
      <p class="lead">
        20. Taa-Haa (Taa-Haa)
        <br>
        135 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/20">
      <p class="lead">سُورَةُ طه</p>
      ١٣٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/21">
      <p class="lead">
        21. Al-Anbiyaa (The Prophets)
        <br>
        112 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/21">
      <p class="lead">سُورَةُ الأَنبِيَاءِ</p>
      ١١٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/22">
      <p class="lead">
        22. Al-Hajj (The Pilgrimage)
        <br>
        78 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/22">
      <p class="lead">سُورَةُ الحَجِّ</p>
      ٧٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/23">
      <p class="lead">
        23. Al-Muminoon (The Believers)
        <br>
        118 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/23">
      <p class="lead">سُورَةُ المُؤۡمِنُونَ</p>
      ١١٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/24">
      <p class="lead">
        24. An-Noor (The Light)
        <br>
        64 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/24">
      <p class="lead">سُورَةُ النُّورِ</p>
      ٦٤ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/25">
      <p class="lead">
        25. Al-Furqaan (The Criterion)
        <br>
        77 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/25">
      <p class="lead">سُورَةُ الفُرۡقَانِ</p>
      ٧٧ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/26">
      <p class="lead">
        26. Ash-Shu'araa (The Poets)
        <br>
        227 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/26">
      <p class="lead">سُورَةُ الشُّعَرَاءِ</p>
      ٢٢٧ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/27">
      <p class="lead">
        27. An-Naml (The Ant)
        <br>
        93 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/27">
      <p class="lead">سُورَةُ النَّمۡلِ</p>
      ٩٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/28">
      <p class="lead">
        28. Al-Qasas (The Stories)
        <br>
        88 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/28">
      <p class="lead">سُورَةُ القَصَصِ</p>
      ٨٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/29">
      <p class="lead">
        29. Al-Ankaboot (The Spider)
        <br>
        69 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/29">
      <p class="lead">سُورَةُ العَنكَبُوتِ</p>
      ٦٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/30">
      <p class="lead">
        30. Ar-Room (The Romans)
        <br>
        60 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/30">
      <p class="lead">سُورَةُ الرُّومِ</p>
      ٦٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/31">
      <p class="lead">
        31. Luqman (Luqman)
        <br>
        34 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/31">
      <p class="lead">سُورَةُ لُقۡمَانَ</p>
      ٣٤ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/32">
      <p class="lead">
        32. As-Sajda (The Prostration)
        <br>
        30 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/32">
      <p class="lead">سُورَةُ السَّجۡدَةِ</p>
      ٣٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/33">
      <p class="lead">
        33. Al-Ahzaab (The Clans)
        <br>
        73 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/33">
      <p class="lead">سُورَةُ الأَحۡزَابِ</p>
      ٧٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/34">
      <p class="lead">
        34. Saba (Sheba)
        <br>
        54 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/34">
      <p class="lead">سُورَةُ سَبَإٍ</p>
      ٥٤ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/35">
      <p class="lead">
        35. Faatir (The Originator)
        <br>
        45 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/35">
      <p class="lead">سُورَةُ فَاطِرٍ</p>
      ٤٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/36">
      <p class="lead">
        36. Yaseen (Yaseen)
        <br>
        83 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/36">
      <p class="lead">سُورَةُ يسٓ</p>
      ٨٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/37">
      <p class="lead">
        37. As-Saaffaat (Those drawn up in Ranks)
        <br>
        182 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/37">
      <p class="lead">سُورَةُ الصَّافَّاتِ</p>
      ١٨٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/38">
      <p class="lead">
        38. Saad (The letter Saad)
        <br>
        88 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/38">
      <p class="lead">سُورَةُ صٓ</p>
      ٨٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/39">
      <p class="lead">
        39. Az-Zumar (The Groups)
        <br>
        75 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/39">
      <p class="lead">سُورَةُ الزُّمَرِ</p>
      ٧٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/40">
      <p class="lead">
        40. Ghafir (The Forgiver)
        <br>
        85 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/40">
      <p class="lead">سُورَةُ غَافِرٍ</p>
      ٨٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/41">
      <p class="lead">
        41. Fussilat (Explained in detail)
        <br>
        54 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/41">
      <p class="lead">سُورَةُ فُصِّلَتۡ</p>
      ٥٤ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/42">
      <p class="lead">
        42. Ash-Shura (Consultation)
        <br>
        53 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/42">
      <p class="lead">سُورَةُ الشُّورَىٰ</p>
      ٥٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/43">
      <p class="lead">
        43. Az-Zukhruf (Ornaments of gold)
        <br>
        89 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/43">
      <p class="lead">سُورَةُ الزُّخۡرُفِ</p>
      ٨٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/44">
      <p class="lead">
        44. Ad-Dukhaan (The Smoke)
        <br>
        59 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/44">
      <p class="lead">سُورَةُ الدُّخَانِ</p>
      ٥٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/45">
      <p class="lead">
        45. Al-Jaathiya (Crouching)
        <br>
        37 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/45">
      <p class="lead">سُورَةُ الجَاثِيَةِ</p>
      ٣٧ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/46">
      <p class="lead">
        46. Al-Ahqaf (The Dunes)
        <br>
        35 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/46">
      <p class="lead">سُورَةُ الأَحۡقَافِ</p>
      ٣٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/47">
      <p class="lead">
        47. Muhammad (Muhammad)
        <br>
        38 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/47">
      <p class="lead">سُورَةُ مُحَمَّدٍ</p>
      ٣٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/48">
      <p class="lead">
        48. Al-Fath (The Victory)
        <br>
        29 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/48">
      <p class="lead">سُورَةُ الفَتۡحِ</p>
      ٢٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/49">
      <p class="lead">
        49. Al-Hujuraat (The Inner Apartments)
        <br>
        18 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/49">
      <p class="lead">سُورَةُ الحُجُرَاتِ</p>
      ١٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/50">
      <p class="lead">
        50. Qaaf (The letter Qaaf)
        <br>
        45 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/50">
      <p class="lead">سُورَةُ قٓ</p>
      ٤٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/51">
      <p class="lead">
        51. Adh-Dhaariyat (The Winnowing Winds)
        <br>
        60 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/51">
      <p class="lead">سُورَةُ الذَّارِيَاتِ</p>
      ٦٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/52">
      <p class="lead">
        52. At-Tur (The Mount)
        <br>
        49 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/52">
      <p class="lead">سُورَةُ الطُّورِ</p>
      ٤٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/53">
      <p class="lead">
        53. An-Najm (The Star)
        <br>
        62 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/53">
      <p class="lead">سُورَةُ النَّجۡمِ</p>
      ٦٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/54">
      <p class="lead">
        54. Al-Qamar (The Moon)
        <br>
        55 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/54">
      <p class="lead">سُورَةُ القَمَرِ</p>
      ٥٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/55">
      <p class="lead">
        55. Ar-Rahmaan (The Beneficent)
        <br>
        78 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/55">
      <p class="lead">سُورَةُ الرَّحۡمَٰن</p>
      ٧٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/56">
      <p class="lead">
        56. Al-Waaqia (The Inevitable)
        <br>
        96 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/56">
      <p class="lead">سُورَةُ الوَاقِعَةِ</p>
      ٩٦ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/57">
      <p class="lead">
        57. Al-Hadid (The Iron)
        <br>
        29 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/57">
      <p class="lead">سُورَةُ الحَدِيدِ</p>
      ٢٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/58">
      <p class="lead">
        58. Al-Mujaadila (The Pleading Woman)
        <br>
        22 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/58">
      <p class="lead">سُورَةُ المُجَادلَةِ</p>
      ٢٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/59">
      <p class="lead">
        59. Al-Hashr (The Exile)
        <br>
        24 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/59">
      <p class="lead">سُورَةُ الحَشۡرِ</p>
      ٢٤ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/60">
      <p class="lead">
        60. Al-Mumtahana (She that is to be examined)
        <br>
        13 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/60">
      <p class="lead">سُورَةُ المُمۡتَحنَةِ</p>
      ١٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/61">
      <p class="lead">
        61. As-Saff (The Ranks)
        <br>
        14 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/61">
      <p class="lead">سُورَةُ الصَّفِّ</p>
      ١٤ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/62">
      <p class="lead">
        62. Al-Jumu'a (Friday)
        <br>
        11 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/62">
      <p class="lead">سُورَةُ الجُمُعَةِ</p>
      ١١ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/63">
      <p class="lead">
        63. Al-Munaafiqoon (The Hypocrites)
        <br>
        11 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/63">
      <p class="lead">سُورَةُ المُنَافِقُونَ</p>
      ١١ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/64">
      <p class="lead">
        64. At-Taghaabun (Mutual Disillusion)
        <br>
        18 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/64">
      <p class="lead">سُورَةُ التَّغَابُنِ</p>
      ١٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/65">
      <p class="lead">
        65. At-Talaaq (Divorce)
        <br>
        12 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/65">
      <p class="lead">سُورَةُ الطَّلَاقِ</p>
      ١٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/66">
      <p class="lead">
        66. At-Tahrim (The Prohibition)
        <br>
        12 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/66">
      <p class="lead">سُورَةُ التَّحۡرِيمِ</p>
      ١٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/67">
      <p class="lead">
        67. Al-Mulk (The Sovereignty)
        <br>
        30 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/67">
      <p class="lead">سُورَةُ المُلۡكِ</p>
      ٣٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/68">
      <p class="lead">
        68. Al-Qalam (The Pen)
        <br>
        52 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/68">
      <p class="lead">سُورَةُ القَلَمِ</p>
      ٥٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/69">
      <p class="lead">
        69. Al-Haaqqa (The Reality)
        <br>
        52 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/69">
      <p class="lead">سُورَةُ الحَاقَّةِ</p>
      ٥٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/70">
      <p class="lead">
        70. Al-Ma'aarij (The Ascending Stairways)
        <br>
        44 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/70">
      <p class="lead">سُورَةُ المَعَارِجِ</p>
      ٤٤ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/71">
      <p class="lead">
        71. Nooh (Noah)
        <br>
        28 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/71">
      <p class="lead">سُورَةُ نُوحٍ</p>
      ٢٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/72">
      <p class="lead">
        72. Al-Jinn (The Jinn)
        <br>
        28 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/72">
      <p class="lead">سُورَةُ الجِنِّ</p>
      ٢٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/73">
      <p class="lead">
        73. Al-Muzzammil (The Enshrouded One)
        <br>
        20 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/73">
      <p class="lead">سُورَةُ المُزَّمِّلِ</p>
      ٢٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/74">
      <p class="lead">
        74. Al-Muddaththir (The Cloaked One)
        <br>
        56 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/74">
      <p class="lead">سُورَةُ المُدَّثِّرِ</p>
      ٥٦ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/75">
      <p class="lead">
        75. Al-Qiyaama (The Resurrection)
        <br>
        40 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/75">
      <p class="lead">سُورَةُ القِيَامَةِ</p>
      ٤٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/76">
      <p class="lead">
        76. Al-Insaan (Man)
        <br>
        31 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/76">
      <p class="lead">سُورَةُ الإِنسَانِ</p>
      ٣١ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/77">
      <p class="lead">
        77. Al-Mursalaat (The Emissaries)
        <br>
        50 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/77">
      <p class="lead">سُورَةُ المُرۡسَلَاتِ</p>
      ٥٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/78">
      <p class="lead">
        78. An-Naba (The Announcement)
        <br>
        40 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/78">
      <p class="lead">سُورَةُ النَّبَإِ</p>
      ٤٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/79">
      <p class="lead">
        79. An-Naazi'aat (Those who drag forth)
        <br>
        46 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/79">
      <p class="lead">سُورَةُ النَّازِعَاتِ</p>
      ٤٦ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/80">
      <p class="lead">
        80. Abasa (He frowned)
        <br>
        42 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/80">
      <p class="lead">سُورَةُ عَبَسَ</p>
      ٤٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/81">
      <p class="lead">
        81. At-Takwir (The Overthrowing)
        <br>
        29 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/81">
      <p class="lead">سُورَةُ التَّكۡوِيرِ</p>
      ٢٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/82">
      <p class="lead">
        82. Al-Infitaar (The Cleaving)
        <br>
        19 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/82">
      <p class="lead">سُورَةُ الانفِطَارِ</p>
      ١٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/83">
      <p class="lead">
        83. Al-Mutaffifin (Defrauding)
        <br>
        36 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/83">
      <p class="lead">سُورَةُ المُطَفِّفِينَ</p>
      ٣٦ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/84">
      <p class="lead">
        84. Al-Inshiqaaq (The Splitting Open)
        <br>
        25 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/84">
      <p class="lead">سُورَةُ الانشِقَاقِ</p>
      ٢٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/85">
      <p class="lead">
        85. Al-Burooj (The Constellations)
        <br>
        22 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/85">
      <p class="lead">سُورَةُ البُرُوجِ</p>
      ٢٢ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/86">
      <p class="lead">
        86. At-Taariq (The Morning Star)
        <br>
        17 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/86">
      <p class="lead">سُورَةُ الطَّارِقِ</p>
      ١٧ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/87">
      <p class="lead">
        87. Al-A'laa (The Most High)
        <br>
        19 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/87">
      <p class="lead">سُورَةُ الأَعۡلَىٰ</p>
      ١٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/88">
      <p class="lead">
        88. Al-Ghaashiya (The Overwhelming)
        <br>
        26 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/88">
      <p class="lead">سُورَةُ الغَاشِيَةِ</p>
      ٢٦ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/89">
      <p class="lead">
        89. Al-Fajr (The Dawn)
        <br>
        30 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/89">
      <p class="lead">سُورَةُ الفَجۡرِ</p>
      ٣٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/90">
      <p class="lead">
        90. Al-Balad (The City)
        <br>
        20 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/90">
      <p class="lead">سُورَةُ البَلَدِ</p>
      ٢٠ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/91">
      <p class="lead">
        91. Ash-Shams (The Sun)
        <br>
        15 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/91">
      <p class="lead">سُورَةُ الشَّمۡسِ</p>
      ١٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/92">
      <p class="lead">
        92. Al-Lail (The Night)
        <br>
        21 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/92">
      <p class="lead">سُورَةُ اللَّيۡلِ</p>
      ٢١ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/93">
      <p class="lead">
        93. Ad-Dhuhaa (The Morning Hours)
        <br>
        11 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/93">
      <p class="lead">سُورَةُ الضُّحَىٰ</p>
      ١١ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/94">
      <p class="lead">
        94. Ash-Sharh (The Consolation)
        <br>
        8 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/94">
      <p class="lead">سُورَةُ الشَّرۡحِ</p>
      ٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/95">
      <p class="lead">
        95. At-Tin (The Fig)
        <br>
        8 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/95">
      <p class="lead">سُورَةُ التِّينِ</p>
      ٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/96">
      <p class="lead">
        96. Al-Alaq (The Clot)
        <br>
        19 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/96">
      <p class="lead">سُورَةُ العَلَقِ</p>
      ١٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/97">
      <p class="lead">
        97. Al-Qadr (The Power, Fate)
        <br>
        5 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/97">
      <p class="lead">سُورَةُ القَدۡرِ</p>
      ٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/98">
      <p class="lead">
        98. Al-Bayyina (The Evidence)
        <br>
        8 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/98">
      <p class="lead">سُورَةُ البَيِّنَةِ</p>
      ٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/99">
      <p class="lead">
        99. Az-Zalzala (The Earthquake)
        <br>
        8 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/99">
      <p class="lead">سُورَةُ الزَّلۡزَلَةِ</p>
      ٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/100">
      <p class="lead">
        100. Al-Aadiyaat (The Chargers)
        <br>
        11 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/100">
      <p class="lead">سُورَةُ العَادِيَاتِ</p>
      ١١ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/101">
      <p class="lead">
        101. Al-Qaari'a (The Calamity)
        <br>
        11 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/101">
      <p class="lead">سُورَةُ القَارِعَةِ</p>
      ١١ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/102">
      <p class="lead">
        102. At-Takaathur (Competition)
        <br>
        8 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/102">
      <p class="lead">سُورَةُ التَّكَاثُرِ</p>
      ٨ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/103">
      <p class="lead">
        103. Al-Asr (The Declining Day, Epoch)
        <br>
        3 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/103">
      <p class="lead">سُورَةُ العَصۡرِ</p>
      ٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/104">
      <p class="lead">
        104. Al-Humaza (The Traducer)
        <br>
        9 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/104">
      <p class="lead">سُورَةُ الهُمَزَةِ</p>
      ٩ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/105">
      <p class="lead">
        105. Al-Fil (The Elephant)
        <br>
        5 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/105">
      <p class="lead">سُورَةُ الفِيلِ</p>
      ٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/106">
      <p class="lead">
        106. Quraish (Quraysh)
        <br>
        4 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/106">
      <p class="lead">سُورَةُ قُرَيۡشٍ</p>
      ٤ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/107">
      <p class="lead">
        107. Al-Maa'un (Almsgiving)
        <br>
        7 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/107">
      <p class="lead">سُورَةُ المَاعُونِ</p>
      ٧ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/108">
      <p class="lead">
        108. Al-Kawthar (Abundance)
        <br>
        3 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/108">
      <p class="lead">سُورَةُ الكَوۡثَرِ</p>
      ٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/109">
      <p class="lead">
        109. Al-Kaafiroon (The Disbelievers)
        <br>
        6 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/109">
      <p class="lead">سُورَةُ الكَافِرُونَ</p>
      ٦ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/110">
      <p class="lead">
        110. An-Nasr (Divine Support)
        <br>
        3 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/110">
      <p class="lead">سُورَةُ النَّصۡرِ</p>
      ٣ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/111">
      <p class="lead">
        111. Al-Masad (The Palm Fibre)
        <br>
        5 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/111">
      <p class="lead">سُورَةُ المَسَدِ</p>
      ٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/112">
      <p class="lead">
        112. Al-Ikhlaas (Sincerity)
        <br>
        4 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/112">
      <p class="lead">سُورَةُ الإِخۡلَاصِ</p>
      ٤ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/113">
      <p class="lead">
        113. Al-Falaq (The Dawn)
        <br>
        5 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/113">
      <p class="lead">سُورَةُ الفَلَقِ</p>
      ٥ آيات
    </a>
  </div>
</div>
  <div class="row surahRow">
  <div class="col-md-6 ltr">
    <a href="/surah/114">
      <p class="lead">
        114. An-Naas (Mankind)
        <br>
        6 Ayahs
      </p>
    </a>
  </div>
  <div class="col-md-6 rtl">
    <a href="/surah/114">
      <p class="lead">سُورَةُ النَّاسِ</p>
      ٦ آيات
    </a>
  </div>
</div>
</div>


<footer class="footer" style="position: fixed; margin-top: 20px; border-top: 1px #ccc solid;">
  <!--<div class="container">-->
      <div class="row">
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
              <p class="" style="margin-top: 20px; margin-left: 10px;">
          © 2022 <a href="https://islamic.network" target="_blank">Islamic Network</a> and respective <a href="https://alquran.cloud/contributors">contributors</a>.
              </p>
          </div>
          <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12">
              <ul class="nav navbar-nav pull-right">
                  <li><a href="https://aladhan.com" target="_blank">Prayer Times</a></li>
                  <li><a href="https://aladhan.com/gregorian-hijri-calendar" target="_blank">Hijri Calendar</a></li>
                  <li><a href="https://alquran.cloud/contact">Contact</a></li>
                  <li><a href="https://alquran.cloud/terms-and-conditions">Terms &amp; Conditions</a></li>
              </ul>
          </div>
      </div>
  <!--</div>-->
</footer>



<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-3749682-29', 'auto');
ga('send', 'pageview');

</script>


</body>