<footer id="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="section-title">
            <h5>عن الموقع</h5>
          </div>
          <p>الموقع : هي مشروع عالمي لتعليم القرآن الكريم </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="section-title">
            <h5>خريطة الموقع</h5>
          </div>
          <ul class="list-unstyled no-margin no-padding col-md-6 col-sm-6">
            <li><a href="https://maqraa.com/ar/">الرئيسية</a></li>
            <li><a href="https://maqraa.com/ar/about/">عن الموقع</a></li>
            <li><a href="https://maqraa.com/ar/program/">قائمة المقارئ</a></li>
          </ul>
          <ul class="list-unstyled no-margin col-md-6 col-sm-6">
            <li><a href="https://maqraa.com/ar/quran/364794/" >مكتبة التفسير</a></li>
            <li><a href="https://maqraa.com/ar/library/" >البحث</a></li>
            <li><a href="https://maqraa.com/ar/news/" >المتشابهات</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="section-title">
            <h5>تابعنا على</h5>
          </div>
          <div class="social">
            <a class="btn-floating fb-bg waves-effect waves-light" href="https://www.facebook.com/Maqraa1" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="btn-floating tw-bg waves-effect waves-light" href="https://twitter.com/Maqraa1" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="btn-floating yt-bg waves-effect waves-light" href="https://www.youtube.com/user/Maqraa" target="_blank"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 subscribe">
          <div class="section-title">
            <h5>القائمة البريدية</h5>
            <p>ضع بريدك الإلكترونى هنا وتعرف على أخبار الموقع واستلم كل جديد لدينا</p>
          </div>
          <form action="//maqraa.us8.list-manage.com/subscribe/post?u=f70c4f590ef215fa528b99b83&amp;id=b523ba0141" method="post" accept-charset="utf-8" class="form-inline special-form">
            <div class="input-field">
              <input id="mce-EMAIL" type="email" placeholder="أكتب بريدك هنا" name="EMAIL" class="required email" required>
              <button type="submit" class="btn bg-warning wave-effect">إرسل</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container text-center">
      <p>&copy; 2020. <span></span> كافة الحقوق محفوظة.</p>
    </div>
  </div>
</footer>
