table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 10px 10px 8px 10px #888888;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;

}
tr:nth-child(odd) {
  box-shadow: 5px 5px 4px 4px #888888;
}

.arabicText{
  float: right;
  text-align: justify;
  direction: rtl
}
:host ::ng-deep {
  .p-datatable-resizable .p-datatable-tbody>tr>td, .p-datatable-resizable .p-datatable-tfoot>tr>td, .p-datatable-resizable .p-datatable-thead>tr>th {
    overflow: hidden;
    white-space: normal;
  }
}
