    <section class="features inner">
      <div class="container">
        <div class="section-title">
          <h3>قائمة التفسير</h3>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card hoverable bg-warning padding-20">
              <img src="https://maqraa.com/themes/frontend/midade/assets/custom2/images/user.png" class="img-responsive" alt="">
              <h4>تفسير الميسر</h4>
              <!-- <span>رجال</span> -->
              <label class="text-warning">العربية</label>
              <p> تفسير الميسر</p>
              <a href="https://maqraa.com/ar/instructors/4/" class="btn waves-effect" style="width: 80%">تفسير الميسر</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card hoverable bg-danger padding-20">
              <img src="https://maqraa.com/themes/frontend/midade/assets/custom2/images/woman.png" class="img-responsive" alt="">
              <h4>تفسير الجلالين</h4>
              <!-- <span>نساء</span> -->
              <label class="text-warning">العربية</label>
              <p> تفسير الجلالين</p>
              <a href="https://maqraa.com/ar/instructors/7/" class="btn waves-effect" style="width: 80%">تفسير الجلالين</a>
            </div>
          </div>
        </div>
      </div>
    </section>
