

<!-- <div *ngFor="let row of parts; let i = index" class="row">
  <label><span></span>    {{i+1}}</label>
  <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" >
    <label>{{row}}</label>
</div>
</div> -->
<div class="wrapper">

	<ol    *ngFor="let row of parts; let i = index ">
	
      <li>
        <span>	{{i+1}}</span>
        <span> {{row}}</span>
		</li>
    </ol>
  </div>
<!-- <div class="wrapper">

	<ol     *ngFor="let row of fehres">
	
      <li>
        <span>	{{row.sur}}</span>
        <span> {{row.page}}</span>
		</li>
    </ol>
  </div>
  -->