<section id="content">


  <!--===== Start About Section ======-->
  <section class="home-about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="view overlay">
            <img src="https://maqraa.com/themes/frontend/midade/assets/custom2/images/012019-about-img.jpeg" class="img-responsive" alt=""  width="767" height="400">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <label style="background: chocolate" class="label">عن الموقع</label>
          <p>الموقع : هي مشروع عالمي لتعليم القرآن الكريم </p>
          <p>
            رؤيتنا:
            المرجع الأول في تعليم القرآن الكريم وإقرائه وفق أعلى معايير الجودة، وإعادة الأمة إلى كتاب ربها تلاوة وحفظا وعملا.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--===== End About Section ======-->
  <!--===== Start News Slider ======-->
  <div class="slider-news">
    <div class="container">
      <div class="section-title">
        <h3>أخبار الموقع</h3>
      </div>
    </div>
    <section class="example">
      <article class="content">
        <div id="rev_slider_30_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="media-carousel-autoplay30" style="margin:0px auto;background-color:#26292b;padding:0px;margin-top:0px;margin-bottom:0px;">
          <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
          <div id="rev_slider_30_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
            <!-- Start Slide  -->
            <ul>
            </ul>
            <!-- End Slide-->
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
          </div>
        </div><!-- END REVOLUTION SLIDER -->
      </article>
    </section>

  </div>
  <!--===== End News Slider ======-->

  <div class="manager">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="section-title">
            <h3>المشرف العام على الموقع</h3>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <div class="manager-img">
                <img src="" class="img-responsive img-circle" alt="">
                <label >م ايمان خليل</label>
                <h4> مشرف الموقع ....</h4>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!--===== Start Sample Video ======-->
  <div class="simpe-video">
    <div class="container">
      <div class="section-title">
        <h3>فيديو تعريفي<a href="https://www.youtube.com/watch?v=SEOKFxONcjQ" class="lightbox"><i class="fa fa-play"></i></a> بالموقع</h3>
      </div>
    </div>
  </div>
  <!--===== End Sample Video ======-->
  <!--===== Start Features ======-->
  <section class="features">
    <div class="container">
      <div class="section-title">
        <h3>مميزات الموقع</h3>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="card hoverable bg-info padding-20">
            <img src="https://maqraa.com/themes/frontend/midade/assets/custom2/images/feature-icon-1.png" class="img-responsive" alt="" width="50" height="45">
            <h4>تمييز المتشابهات</h4>
            <p>​​إمكانية القراءة على المتشابهات .</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="card hoverable bg-warning padding-20">
            <img src="https://maqraa.com/themes/frontend/midade/assets/custom2/images/feature-icon-2.png" class="img-responsive" alt="" width="50" height="45">
            <h4>تكرار الايات</h4>
            <p>إجراءتكرار الايات .</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="card hoverable bg-danger padding-20">
            <img src="https://maqraa.com/themes/frontend/midade/assets/custom2/images/feature-icon-3.png" class="img-responsive" alt="" width="50" height="45">
            <h4>التفسير</h4>
            <p>تفسير لكل ايه بتفسيرين يسيرين</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--===== End Features ======-->
  <!--===== Start How It Work ======-->
  <section class="how-work text-center">
    <div class="container">
      <div class="section-title">
        <h3>كيف تعمل الموقع</h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="circle">
            <div class="circle-icon">
              <i class="fa fa-sign-in"></i>
            </div>
            <h4>اختيار عدد المتشابه</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="circle">
            <div class="circle-icon">
              <i class="fa fa-clock-o"></i>
            </div>
            <h4>اختيار القاري</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="circle">
            <div class="circle-icon">
              <i class="fa fa-volume-up"></i>
            </div>
            <h4>اختيار التفسير</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="circle">
            <div class="circle-icon last">
              <img src="https://maqraa.com/themes/frontend/midade/assets/custom2/images/user-icon.png" class="img-responsive" alt=""  width="50" height="88">
            </div>
            <h4>فتح المصحف</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--===== End How It Work ======-->

</section>
<div class="section-title">
</div>
